// Fonts
$font-inter: "Inter";
$font-lato: "Lato";
$font-audiowide: "AudioWide";
$font-stalinist-one: "AudioWide";
$font-anton: "Anton";

// Color
$color-white: #faf9f6;
$color-black: #28282b;
$color-royal-blue: #3c76f1;
$color-alto: #dcdcdc;
$color-gray: #8f8f8f;
$color-hint-of-green: #dffee7;
$color-mountain-meadow: #15c077;
$color-mine-shaft: #2a2a2a;
$color-gigas: #434097;
$color-cod-gray: #1a1a1a;
